/*
  Based on the Eric Meyer CSS Reset v2.0 (http://meyerweb.com/eric/tools/css/reset/)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.intro {
  float: left;
  width: 780px;
  margin-left: 90px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
.feature {
  float: left;
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
.try {
  float: left;
  width: 620px;
  margin-left: 170px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
.editor {
  float: left;
  width: 940px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
.components {
  float: left;
  width: 620px;
  margin-left: 170px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
body {
  font-size: 15px;
  color: #4b5358;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 4.5em;
  margin-top: 0.75em;
  margin-bottom: 0.25em;
  font-weight: 200;
}
h2 {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.75em;
  font-weight: 200;
}
h2.split-header {
  clear: both;
  text-align: center;
  padding-top: 2em;
}
h2.split-header span {
  background: #dee9f1;
  padding: 0 15px;
}
h2.split-header:before {
  content: '';
  display: block;
  width: 70%;
  max-width: 515px;
  border-top: 1px solid white;
  margin: 0 auto -0.75em;
}
h3 {
  font-size: 1.25em;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
  font-weight: 200;
}
h4 {
  font-size: 1.375em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: normal;
  color: #96a0a6;
}
h5 {
  font-size: 1.125em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h6 {
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
p {
  margin: 1em 0;
}
p.subline {
  font-size: 1.5em;
  color: #7b878e;
  text-align: center;
}
a {
  color: #69b5e1;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
abbr,
acronym {
  border-bottom: 1px dotted;
  cursor: help;
}
address {
  font-size: 1em;
  font-style: italic;
}
blockquote {
  margin: 1em 0;
  padding: 0 0 0 2em;
}
cite {
  font-style: italic;
}
code {
  font-size: 1em;
  font-family: monospace;
  background: #eeeeee;
  border: 1px solid #e1e1e1;
  padding: 0.125em 0.25em;
  line-height: 150%;
}
em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: bold;
}
hr {
  outline: none;
  border: none;
  margin: 1em 0;
  padding: 0;
  border-top: 1px solid #eeeeee;
}
ol,
ul {
  margin: 1em 0;
  padding: 0 0 0 2em;
}
ol li,
ul li {
  font-size: 1em;
  list-style-position: outside;
}
ul li {
  list-style: disc;
}
ol li {
  list-style: decimal;
}
form {
  margin: 1em 0;
}
dl {
  margin: 1em 0;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin: 0 0 0.5em;
}
table {
  width: 100%;
  margin: 1em 0;
}
table th {
  padding: 0.5em;
  border: 1px solid #eeeeee;
  background: #f4f4f4;
  text-align: left;
  font-weight: bold;
}
table td {
  padding: 0.5em;
  border: 1px solid #eeeeee;
}
form {
  display: block;
}
fieldset {
  display: block;
  margin: 1.25em 0;
  padding: 0;
}
legend {
  display: block;
  width: 100%;
  margin: 0 0 1em 0;
  font-weight: bold;
  border-bottom: 1px solid #eeeeee;
}
label {
  display: block;
  margin: 0 0 0.25em;
  font-weight: bold;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="image"],
input[type="color"] {
  display: block;
  width: 100%;
  padding: 0.5em;
  margin: 0 0 0.625em;
  vertical-align: middle;
  border: 1px solid #eeeeee;
  outline: none;
  font-family: inherit;
  font-size: 1em;
}
select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="image"]:hover,
input[type="color"]:hover {
  border: 1px solid #e6e6e6;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="image"]:focus,
input[type="color"]:focus {
  border: 1px solid #e1e1e1;
}
input[type="submit"] {
  display: block;
}
input[type="file"] {
  padding: 0.125em;
  margin: 0 0 0.625em;
  font-family: inherit;
  font-size: 1em;
  -webkit-appearance: none;
}
input[type="file"] {
  line-height: 100%;
}
textarea {
  padding: 0.25em;
}
progress,
meter {
  padding: 0.125em;
  margin: 0 0 0.625em;
  font-family: inherit;
  font-size: 1em;
}
.button,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
  padding: 0.625em 1.25em;
  margin: 0 0 0.625em;
  font-family: inherit;
  font-size: 1em;
  border: none;
  outline: none;
  background: #eeeeee;
  line-height: 100%;
  cursor: pointer;
  text-decoration: none;
}
.button:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background: #e6e6e6;
  text-decoration: none;
}
.button:active,
button:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
  background: #dfdfdf;
}
.button.disabled,
button.disabled,
input[type="button"].disabled,
input[type="submit"].disabled,
input[type="reset"].disabled {
  background: #f4f4f4;
  color: #c8c8c8;
  cursor: default;
}
button.primary,
.button-primary {
  background: #69b5e1;
  color: white;
}
button.primary:hover,
.button-primary:hover {
  background: #54abdd;
}
button.primary:active,
.button-primary:active {
  background: #3ea0d9;
}
button.primary.disabled,
.button-primary.disabled {
  background: #bedff2;
  color: #69b5e1;
  cursor: default;
}
button.secondary,
.button-secondary {
  background: #9d6ab4;
  color: white;
}
button.secondary:hover,
.button-secondary:hover {
  background: #9259ab;
}
button.secondary:active,
.button-secondary:active {
  background: #844f9c;
}
button.secondary.disabled,
.button-secondary.disabled {
  background: #caaed6;
  color: #9d6ab4;
  cursor: default;
}
ul[class*="menu-"] {
  margin: 1em 0;
  padding: 0;
}
ul[class*="menu-"] li {
  position: relative;
  list-style: none;
}
ul[class*="menu-"] li a {
  padding: 0.75em 1em;
  line-height: 100%;
  color: #4b5358;
  text-decoration: none;
  background: white;
}
ul[class*="menu-"] li:hover > a,
ul[class*="menu-"] li a:hover,
ul[class*="menu-"] li a.selected,
ul[class*="menu-"] li.selected a {
  color: #69b5e1;
}
ul[class*="menu-"] li a:active,
ul[class*="menu-"] li a.selected:hover,
ul[class*="menu-"] li.selected a:hover {
  color: #54abdd;
}
.menu-primary li {
  display: inline;
}
.menu-primary li a {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.menu-primary li ul {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2.25em;
  left: 0;
  border: 1px solid #eeeeee;
  background: white;
  z-index: 1000;
}
.menu-primary li ul li {
  display: block;
}
.menu-primary li ul li a {
  display: block;
  white-space: nowrap;
}
.menu-primary li:hover ul,
.menu-primary li ul:hover {
  display: inline;
}
.menu-secondary {
  border: 1px solid #eeeeee;
}
.menu-secondary li {
  display: block;
}
.menu-secondary li a {
  display: block;
}
.clear {
  clear: both;
  height: 0;
}
.masthead {
  margin-bottom: -6.25em;
}
nav {
  text-align: center;
}
nav ul:before {
  display: block;
  border-top: 1px solid #eeeeee;
  width: 60%;
  content: '';
  margin: 30px auto -20px;
}
.intro {
  text-align: center;
  padding: 2.5% 0 0;
}
.intro .slogan {
  font-size: 2.125em;
  line-height: 1.375;
  margin: 1em 0 2em;
}
.intro .button {
  font-size: 1.25em;
  font-weight: 600;
  border-radius: 5px;
  padding: 0.625em 2em;
  box-shadow: 0 2px 0 #54abdd;
}
.intro p {
  margin: 0 0 0.5em;
  font-size: 0.95em;
}
.logo {
  border-top: 5px solid #69b5e1;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.download-meta {
  color: #96a0a6;
}
.download-meta a {
  color: #626d74;
  font-weight: 400;
}
.download-meta a:hover {
  color: #69b5e1;
  text-decoration: none;
}
main {
  background: #dee9f1;
  width: 100%;
  clear: both;
  padding: 8em 0 5em;
  overflow: hidden;
}
.try {
  text-align: center;
}
.editor {
  border-radius: 5px;
  background: white;
  height: 400px;
  position: relative;
  margin-top: 4em;
}
.editor .pane {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.editor .pane.layout {
  left: 0;
  border-right: 1px solid #7d858d;
}
.editor .pane.grid {
  right: 0;
  border-left: 1px solid #7d858d;
}
.editor .label {
  position: absolute;
  top: -1.9em;
  left: 2em;
}
.editor .label span {
  background: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 4px 15px;
  font-weight: 700;
  font-size: 0.9em;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.editor .label em {
  font-size: 0.825em;
  padding: 2px 10px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #626d74;
}
.editor .tabs {
  position: absolute;
  top: -2em;
  right: 2em;
}
.editor .tabs a {
  color: white;
  background: #656c72;
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 7px 10px 5px;
  font-size: 1.25em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-width: 20px;
  text-align: center;
}
.editor .tabs a.active,
.editor .tabs a.active:hover {
  background: #1D1F21;
}
.editor .tabs a:hover {
  background: #4d5257;
}
.editor .code-editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 15px;
}
.editor .layout .code-editor {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.editor .grid .code-editor {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
