@media (min-width: 1200px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }
  header {
    float: left;
    width: 1111.5px;
    margin-left: 14.25px;
    margin-right: 14.25px;
    padding-left: 0px;
    padding-right: 0px;
  }
  article {
    float: left;
    width: 731.5px;
    margin-left: 14.25px;
    margin-right: 14.25px;
    padding-left: 0px;
    padding-right: 0px;
  }
  aside {
    float: left;
    width: 351.5px;
    margin-left: 14.25px;
    margin-right: 14.25px;
    padding-left: 0px;
    padding-right: 0px;
  }
  footer {
    float: left;
    width: 1111.5px;
    margin-left: 14.25px;
    margin-right: 14.25px;
    padding-left: 0px;
    padding-right: 0px;
  }
  body {
    font-size: 15px;
    color: #000000;
    line-height: 140%;
    font-family: 'Helvetica', sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 140%;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
  }
  h1 {
    font-size: 3em;
    margin-top: 0.75em;
    margin-bottom: 0.25em;
  }
  h2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.75em;
  }
  h3 {
    font-size: 1.5em;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
    font-weight: normal;
  }
  h4 {
    font-size: 1.25em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: normal;
    color: #4d4d4d;
  }
  h5 {
    font-size: 1.125em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  h6 {
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  p {
    margin: 1em 0;
  }
  a {
    color: #7cc5e3;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  abbr,
  acronym {
    border-bottom: 1px dotted;
    cursor: help;
  }
  address {
    font-size: 1em;
    font-style: italic;
  }
  blockquote {
    margin: 1em 0;
    padding: 0 0 0 2em;
  }
  cite {
    font-style: italic;
  }
  code {
    font-size: 1em;
    font-family: monospace;
    background: #eeeeee;
    border: 1px solid #e1e1e1;
    padding: 0.125em 0.25em;
    line-height: 150%;
  }
  em,
  i {
    font-style: italic;
  }
  strong,
  b {
    font-weight: bold;
  }
  hr {
    outline: none;
    border: none;
    margin: 1em 0;
    padding: 0;
    border-top: 1px solid #eeeeee;
  }
  ol,
  ul {
    margin: 1em 0;
    padding: 0 0 0 2em;
  }
  ol li,
  ul li {
    font-size: 1em;
    list-style-position: outside;
  }
  ul li {
    list-style: disc;
  }
  ol li {
    list-style: decimal;
  }
  form {
    margin: 1em 0;
  }
  dl {
    margin: 1em 0;
  }
  dl dt {
    font-weight: bold;
  }
  dl dd {
    margin: 0 0 0.5em;
  }
  table {
    width: 100%;
    margin: 1em 0;
  }
  table th {
    padding: 0.5em;
    border: 1px solid #eeeeee;
    background: #f4f4f4;
    text-align: left;
    font-weight: bold;
  }
  table td {
    padding: 0.5em;
    border: 1px solid #eeeeee;
  }
}
