@media (min-width: 768px) and (max-width: 959px) {
  body {
    font-size: 14px;
    line-height: 140%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 140%;
  }
  .container {
    width: 768px;
    margin: 0 auto;
  }
  header {
    float: left;
    width: 752px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 0px;
    padding-right: 0px;
  }
  article {
    float: left;
    width: 496px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 0px;
    padding-right: 0px;
  }
  aside {
    float: left;
    width: 240px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 0px;
    padding-right: 0px;
  }
  footer {
    float: left;
    width: 752px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
