//
// Typography
// --------------------------------------------------


body {
	color: $textColor;
	font-family: $paragraphFont;
	-webkit-font-smoothing: antialiased;

	font-size: 100%;
	line-height: 1.4;
}


// Headings
// -------------------

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headingFont;
	font-weight: bold;
	line-height: 1.4;
}

h1 {
	font-size: 3rem;
	margin-top: 0.75em;
	margin-bottom: 0.25em;
}
h2 {
	font-size: 2rem;
	margin-top: 1em;
	margin-bottom: 0.75em;
}
h3 {
	font-size: 1.5rem;
	margin-top: 1.25em;
	margin-bottom: 0.5em;
	font-weight: normal;
}
h4 {
	font-size: 1.25rem;
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-weight: normal;
	color: lighten($textColor, 30%);
}
h5 {
	font-size: 1.125rem;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
h6 {
	font-size: 1rem;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

// Paragraph
// -------------------

p {
	margin: 1em 0;
}
a {
	color: $primaryColor;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

// Basic Elements
// -------------------

abbr,
acronym {
	border-bottom: 1px dotted;
	cursor: help;
}

address {
	font-size: 1rem;
	font-style: italic;
}

blockquote {
	margin: 1em 0;
	padding: 0 0 0 2em;
}

cite {
	font-style: italic;
}

code {
	font-size: 0.96rem;
	font-family: monospace;
	background: $baseColor;
	border: 1px solid darken($baseColor, 5%);
	padding: 0.125em 0.25em;
	line-height: 150%;
}

em,
i {
	font-style: italic;
}

strong,
b {
	font-weight: bold;
}

hr {
	outline: none;
	border: none;
	margin: 1em 0;
	padding: 0;
	border-top: 1px solid $baseColor;
}

ol,
ul {
	margin: 1em 0;
	padding: 0 0 0 2em;

	li {
		font-size: 1rem;
		list-style-position: outside;
	}
}
ul li { list-style: disc; }
ol li { list-style: decimal; }

// Form
// -------------------

form {
	margin: 1em 0;
}

// Descriptions
// -------------------

dl {
	margin: 1em 0;

	dt {
		font-weight: bold;
	}
	dd {
		margin: 0 0 0.5em;
	}
}

// Tables
// -------------------

table {
	width: 100%;
	margin: 1em 0;

	th {
		padding: 0.5em;
		border: 1px solid $baseColor;
		background: lighten($baseColor, 3.5%);
		text-align: left;
		font-weight: bold;
	}
	td {
		padding: 0.5em;
		border: 1px solid $baseColor;
	}
}
