//
// Buttons
// --------------------------------------------------


button {
	-webkit-appearance: none;
	padding: 0.125em;
	margin: 0 0 0.625em;
	font-family: inherit;
	font-size: 1em;
	border: none;
	outline: none;
	background: @baseColor;
}