//
// Site Layout
// --------------------------------------------------


// Device agnostic layout styles. Construct the grid and box models here.
// -------------------


.container {
	.container();
	margin: 0 auto;
}

nav {
	.column(12);
}

article {
  	.column(6);
}


.span1 {
	.column(1);
	background: rgba(0,0,0,.1);
}

.span2 {
	.column(2);
	background: rgba(0,0,0,.1);
}

.span7 {
	.column(7);
	background: rgba(0,0,0,.1);
}

.span12 {
	.column(12);
	background: rgba(0,0,0,.1);
}