//
// Navigation
// --------------------------------------------------


// Primary (Horiztonal) Navigation
// -------------------

.menu-primary {
	margin: 1em 0;
	padding: 0;

	li {
		list-style: none;
		display: inline;

		a {
			.inline-block();
			padding: 0.75em 1.25em;
			line-height: 100%;
			color: @textColor;
			border-left: 1px solid white;
			text-decoration: none;

			&:hover,
			&.selected {
				background: @baseColor;
			}
			&:active,
			&.selected:hover {
				background: darken(@baseColor, 5%);
			}
		}
		&:first-child a {
			border-left: none;
			padding-left: 1.25em;
		}
	}
}