//
// Typography
// --------------------------------------------------


body {
	font-size: @fontSize;
	color: @textColor;
	line-height: @lineHeight;
	font-family: @paragraphFont;
}


// Headings
// -------------------

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: @lineHeight;
	font-family: @headingFont;
	font-weight: bold;
}

h1 { 
	font-size: 4em;
	margin-top: 0.75em;
	margin-bottom: 0.25em;
}
h2 { 
	font-size: 2.5em;
	margin-top: 0.75em;
	margin-bottom: 0.5em;
}
h3 { 
	font-size: 2em;
	margin-top: 0.75em;
	margin-bottom: 0.5em;
}
h4 {
	font-size: 1.25em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
h5 {
	font-size: 1.125em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
h6 {
	font-size: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

// Paragraph
// -------------------

p {
	margin: 1em 0;
}
a {
	color: @primaryColor;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

// Basic Elements
// -------------------

abbr,
acronym {
	border-bottom: 1px dotted;
	cursor: help;
}

address {
	font-size: 1em;
	font-style: italic;
}

blockquote {
	margin: 1em 0;
	padding: 0 0 0 2em;
}

cite {
	font-style: italic;
}

code {
	font-size: 1.25em;
	font-family: monospace;
	background: #eee;
}

em,
i {
	font-style: italic;
}

strong,
b {
	font-weight: bold;
}

ol,
ul {
	margin: 1em 0;
	padding: 0 0 0 2em;

	li {
		font-size: 1em;
		list-style-position: outside;
	}
}
ul li { list-style: disc; }
ol li { list-style: decimal; }

// Form
// -------------------

form {
	margin: 1em 0;
}

// Descriptions
// -------------------

dl {
	margin: 1em 0;

	dt {
		font-weight: bold;
	}
	dd {
		margin: 0 0 0.5em;
	}
}

// Tables
// -------------------

table {
	width: 100%;
	margin: 1em 0;

	th {
		padding: 0.5em;
		border: 1px solid lighten(@textColor, 75%);
		background: lighten(@textColor, 95%);
		text-align: left;
		font-weight: bold;
	}
	td {
		padding: 0.5em;
		border: 1px solid lighten(@textColor, 75%);
	}
}

