//
// Variables
// --------------------------------------------------

// Fonts
// -------------------

@headingFont: sans-serif;
@paragraphFont: sans-serif;


// Colours
// -------------------

@textColor: #000;
@primaryColor: red;
@secondaryColor: blue;