//
// Base CSS File - Standard Desktops ~960px
// --------------------------------------------------



// Grid Variables
// -------------------

@containerWidth: 960px;
@columnCount:    12;
@gutterRatio:    25%;
@paddingRatio:   100%;


// Type Variables
// -------------------

@fontSize: 16px;
@lineHeight: 140%;


// Base Styles
// -------------------

@import "_reset.less";

@import "_variables.less";
@import "_mixins.less";

@import "_layout.less";
@import "_type.less";
@import "_forms.less";
@import "_buttons.less";


// Plugin Styles
// -------------------


// Custom Styles
// -------------------





