// Useful Visual Elements
// -------------------

@mixin arrow-up($size: 5px, $color: #000) {
    width: 0; 
    height: 0; 
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
}
@mixin arrow-down($size: 5px, $color: #000) {
    width: 0; 
    height: 0; 
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
}
@mixin arrow-left($size: 5px, $color: #000) {
    width: 0; 
    height: 0; 
    border-top: $size solid transparent;
    border-bottom: $size solid transparent; 
    border-right: $size solid $color; 
}
@mixin arrow-right($size: 5px, $color: #000) {
    width: 0; 
    height: 0; 
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
}

// Custom Buttons
// -------------------

@mixin button-style($customColor, $customTextColor){
    background: $customColor;
    color: $customTextColor;
     &:hover {
        background: darken($customColor, 3%);
        text-decoration: none;
    }
    
    &:active {
        background: darken($customColor, 6%);
    }

    &.disabled {
        background: lighten($customColor, 2.5%);
        color: darken($customColor, 15%);
        cursor: default;
    }
}


// Shortcuts
// -------------------

@mixin size($height, $width) {
    width: $width;
    height: $height;
}

@mixin hide-text() {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
}

@mixin font($size: 100%, $weight: normal, $lineHeight: 150%) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
}

@mixin clearfix {
  &:after {
	content: "";
	display: table;
	clear: both;
  }
}

@mixin center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin reset-center() {
	position: relative;
	top: auto;
	left: auto;
	transform: none;
}

@mixin center-vertically() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin reset-center-vertically() {
	position: relative;
	top: auto;
	transform: none;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}