/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
h1 {
  font-family: serif;
  font-size: 56px;
  line-height: 105%;
  margin-top: 0;
  margin-bottom: 14px;
  font-weight: bold;
}
h2 {
  font-family: serif;
  font-size: 48px;
  line-height: 105%;
  margin-top: 24px;
  margin-bottom: 12px;
  font-weight: bold;
}
h3 {
  font-family: serif;
  font-size: 40px;
  line-height: 105%;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
h4 {
  font-family: serif;
  font-size: 32px;
  line-height: 105%;
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: bold;
}
h5 {
  font-family: serif;
  font-size: 24px;
  line-height: 105%;
  margin-top: 12px;
  margin-bottom: 6px;
  font-weight: bold;
}
h6 {
  font-family: serif;
  font-size: 16px;
  line-height: 105%;
  margin-top: 8px;
  margin-bottom: 4px;
  font-weight: bold;
}
p {
  font-family: serif;
  font-size: 16px;
  line-height: 140%;
  margin: 16px 0;
}
abbr,
acronym {
  border-bottom: 1px dotted;
  cursor: help;
}
address {
  font-family: serif;
  font-size: 16px;
  font-style: italic;
}
blockquote {
  margin: 16px 0;
  padding: 0 0 0 32px;
}
cite {
  font-style: italic;
}
code {
  font-size: 16px;
}
em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: bold;
}
ul,
ol {
  margin: 16px 0;
  padding: 0 0 0 32px;
}
ul li,
ol li {
  font-family: serif;
  font-size: 16px;
  line-height: 140%;
  list-style-position: inside;
}
input,
button {
  font-family: serif;
  font-size: 16px;
}
table {
  font-family: serif;
  font-size: 16px;
  width: 100%;
  margin: 16px 0;
}
table th,
table td {
  padding: 4px 8px 4px 0;
}
.container {
  width: 960px;
  margin: 0 auto;
}
article {
  float: left;
  margin: 10px;
  width: 460px;
  padding-left: 0px;
  padding-right: 0px;
}
article img {
  max-width: 100%;
}
.span1 {
  float: left;
  margin: 10px;
  width: 60px;
  padding-left: 0px;
  padding-right: 0px;
  background: rgba(0, 0, 0, 0.1);
}
.span1 img {
  max-width: 100%;
}
.span2 {
  float: left;
  margin: 10px;
  width: 140px;
  padding-left: 0px;
  padding-right: 0px;
  background: rgba(0, 0, 0, 0.1);
}
.span2 img {
  max-width: 100%;
}
.span7 {
  float: left;
  margin: 10px;
  width: 540px;
  padding-left: 0px;
  padding-right: 0px;
  background: rgba(0, 0, 0, 0.1);
}
.span7 img {
  max-width: 100%;
}
.span12 {
  float: left;
  margin: 10px;
  width: 940px;
  padding-left: 0px;
  padding-right: 0px;
  background: rgba(0, 0, 0, 0.1);
}
.span12 img {
  max-width: 100%;
}
.carousel img {
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.mountain-side1 {
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 300px solid #add8e6;
  -webkit-perspective: 100px;
  -webkit-transform: rotateY(80deg) rotateX(20deg);
  -moz-transform: rotateY(80deg) rotateX(20deg);
  -ms-transform: rotateY(80deg) rotateX(20deg);
  -o-transform: rotateY(80deg) rotateX(20deg);
  transform: rotateY(80deg) rotateX(20deg);
  position: absolute;
}
.mountain-side2 {
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 300px solid #eeeeee;
  -webkit-perspective: 100px;
  -webkit-transform: rotateY(-70deg) rotateX(20deg);
  -moz-transform: rotateY(-70deg) rotateX(20deg);
  -ms-transform: rotateY(-70deg) rotateX(20deg);
  -o-transform: rotateY(-70deg) rotateX(20deg);
  transform: rotateY(-70deg) rotateX(20deg);
  position: absolute;
  left: 20px;
}
.mountain-side3 {
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 300px solid #0000ff;
  -webkit-perspective: 100px;
  -webkit-transform: rotateY(-80deg) rotateX(20deg);
  -moz-transform: rotateY(-80deg) rotateX(20deg);
  -ms-transform: rotateY(-80deg) rotateX(20deg);
  -o-transform: rotateY(-80deg) rotateX(20deg);
  transform: rotateY(-80deg) rotateX(20deg);
  position: absolute;
  left: 20px;
}
