/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
h1 {
  font-size: 64px;
  line-height: 96px;
}
h2 {
  font-size: 48px;
  line-height: 72px;
}
h3 {
  font-size: 32px;
  line-height: 48px;
}
p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}
.baseline {
  background: url(../baseline.jpg);
  background-size: 1px 24px;
}
body {
  width: 960px;
  margin: 0 auto;
}
article {
  float: left;
  margin: 0 10px 0 90px;
  width: 340px;
  padding-left: 20px;
  padding-right: 20px;
  col: 5;
}
.span1 {
  float: left;
  margin: 0 10px 0 10px;
  width: 60px;
  padding-left: 0px;
  padding-right: 0px;
  col: 1;
  background: rgba(0, 0, 0, 0.1);
}
.span2 {
  float: left;
  margin: 0 10px 0 10px;
  width: 140px;
  padding-left: 0px;
  padding-right: 0px;
  col: 2;
  background: rgba(0, 0, 0, 0.1);
}
.span7 {
  float: left;
  margin: 0 10px 0 10px;
  width: 540px;
  padding-left: 0px;
  padding-right: 0px;
  col: 7;
  background: rgba(0, 0, 0, 0.1);
}
.span12 {
  float: left;
  margin: 0 10px 0 10px;
  width: 940px;
  padding-left: 0px;
  padding-right: 0px;
  col: 12;
  background: rgba(0, 0, 0, 0.1);
}
