html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  width: 960px;
  margin: 0 auto;
}
article {
  float: left;
  width: 460px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
article img {
  max-width: 100%;
}
.span1 {
  float: left;
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
  background: rgba(0, 0, 0, 0.1);
}
.span1 img {
  max-width: 100%;
}
.span2 {
  float: left;
  width: 140px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
  background: rgba(0, 0, 0, 0.1);
}
.span2 img {
  max-width: 100%;
}
.span7 {
  float: left;
  width: 540px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
  background: rgba(0, 0, 0, 0.1);
}
.span7 img {
  max-width: 100%;
}
.span12 {
  float: left;
  width: 940px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
  background: rgba(0, 0, 0, 0.1);
}
.span12 img {
  max-width: 100%;
}
h1 {
  font-family: serif;
  font-size: 56px;
  line-height: 105%;
  margin-top: 0;
  margin-bottom: 14px;
  font-weight: bold;
}
h2 {
  font-family: serif;
  font-size: 48px;
  line-height: 105%;
  margin-top: 24px;
  margin-bottom: 12px;
  font-weight: bold;
}
h3 {
  font-family: serif;
  font-size: 40px;
  line-height: 105%;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
h4 {
  font-family: serif;
  font-size: 32px;
  line-height: 105%;
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: bold;
}
h5 {
  font-family: serif;
  font-size: 24px;
  line-height: 105%;
  margin-top: 12px;
  margin-bottom: 6px;
  font-weight: bold;
}
h6 {
  font-family: serif;
  font-size: 16px;
  line-height: 105%;
  margin-top: 8px;
  margin-bottom: 4px;
  font-weight: bold;
}
p {
  font-family: serif;
  font-size: 16px;
  line-height: 140%;
  margin: 16px 0;
}
abbr,
acronym {
  border-bottom: 1px dotted;
  cursor: help;
}
address {
  font-family: serif;
  font-size: 16px;
  font-style: italic;
}
blockquote {
  margin: 16px 0;
  padding: 0 0 0 32px;
}
cite {
  font-style: italic;
}
code {
  font-size: 16px;
  font-family: monospace;
}
em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: bold;
}
ul {
  margin: 16px 0;
  padding: 0 0 0 32px;
}
ul li {
  font-family: serif;
  font-size: 16px;
  line-height: 140%;
  list-style: disc;
  list-style-position: inside;
}
ol {
  margin: 16px 0;
  padding: 0 0 0 32px;
}
ol li {
  font-family: serif;
  font-size: 16px;
  line-height: 140%;
  list-style: decimal;
  list-style-position: inside;
}
input,
button {
  font-family: serif;
  font-size: 16px;
}
table {
  font-family: serif;
  font-size: 16px;
  width: 100%;
  margin: 16px 0;
}
table th,
table td {
  padding: 4px 8px 4px 0;
}
.carousel {
  width: 100%;
  height: auto;
  position: relative;
}
.carousel > .slide {
  position: relative;
  display: none;
}
.carousel > .slide.active {
  display: block;
}
.carousel.transition-fade > .slide {
  opacity: 0;
  display: block;
  height: 0;
}
.carousel.transition-fade > .slide.active {
  position: relative;
  top: 0;
  opacity: 1;
  z-index: 0;
  height: auto;
}
.carousel.transition-fade > .slide.left {
  position: absolute;
  top: 0;
  opacity: 0;
  height: auto;
  z-index: 1;
}
.carousel.transition-slide {
  position: relative;
  white-space: nowrap;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
  font-size: 0;
}
.carousel.transition-slide > .slide {
  vertical-align: top;
  white-space: normal;
  font-size: 100%;
  display: none;
  width: 100%;
}
.carousel.transition-slide > .slide.active {
  display: block;
  position: relative;
  left: 0;
  z-index: 2;
}
.carousel.transition-slide > .slide.left {
  display: block;
  position: absolute;
  left: -100%;
  top: 0;
  z-index: 1;
}
.carousel.transition-slide > .slide.right {
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 0;
}
.carousel.transition-slide.backwards > .slide.left {
  z-index: 0;
}
.carousel.transition-slide.backwards > .slide.right {
  z-index: 1;
}
