@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  article {
    float: left;
    margin: 15px;
    width: 570px;
    padding-left: 0px;
    padding-right: 0px;
  }
  article img {
    max-width: 100%;
  }
  .span1 {
    float: left;
    margin: 15px;
    width: 70px;
    padding-left: 0px;
    padding-right: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  .span1 img {
    max-width: 100%;
  }
  .span2 {
    float: left;
    margin: 15px;
    width: 170px;
    padding-left: 0px;
    padding-right: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  .span2 img {
    max-width: 100%;
  }
  .span7 {
    float: left;
    margin: 15px;
    width: 670px;
    padding-left: 0px;
    padding-right: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  .span7 img {
    max-width: 100%;
  }
  .span12 {
    float: left;
    margin: 15px;
    width: 1170px;
    padding-left: 0px;
    padding-right: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  .span12 img {
    max-width: 100%;
  }
}
