@media (max-width: 767px) {
  body {
    width: 100%;
    margin: 0 auto;
  }
  article {
    float: left;
    margin: 0 0 0 0%;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
  }
  article img {
    max-width: 100%;
  }
  .span1 {
    float: left;
    margin: 0 0 0 0%;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    background: rgba(0, 0, 0, 0.1);
  }
  .span1 img {
    max-width: 100%;
  }
  .span2 {
    float: left;
    margin: 0 0 0 0%;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    background: rgba(0, 0, 0, 0.1);
  }
  .span2 img {
    max-width: 100%;
  }
  .span7 {
    float: left;
    margin: 0 0 0 0%;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    background: rgba(0, 0, 0, 0.1);
  }
  .span7 img {
    max-width: 100%;
  }
  .span12 {
    float: left;
    margin: 0 0 0 0%;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    background: rgba(0, 0, 0, 0.1);
  }
  .span12 img {
    max-width: 100%;
  }
}
