@media (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
  article {
    float: left;
    width: 368px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 0px;
    padding-right: 0px;
  }
  article img {
    max-width: 100%;
  }
  .span1 {
    float: left;
    width: 48px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 0px;
    padding-right: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  .span1 img {
    max-width: 100%;
  }
  .span2 {
    float: left;
    width: 112px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 0px;
    padding-right: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  .span2 img {
    max-width: 100%;
  }
  .span7 {
    float: left;
    width: 432px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 0px;
    padding-right: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  .span7 img {
    max-width: 100%;
  }
  .span12 {
    float: left;
    width: 752px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 0px;
    padding-right: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  .span12 img {
    max-width: 100%;
  }
  h1 {
    font-family: serif;
    font-size: 49px;
    line-height: 105%;
    margin-top: 0;
    margin-bottom: 12.25px;
    font-weight: bold;
  }
  h2 {
    font-family: serif;
    font-size: 42px;
    line-height: 105%;
    margin-top: 21px;
    margin-bottom: 10.5px;
    font-weight: bold;
  }
  h3 {
    font-family: serif;
    font-size: 35px;
    line-height: 105%;
    margin-top: 17.5px;
    margin-bottom: 8.75px;
    font-weight: bold;
  }
  h4 {
    font-family: serif;
    font-size: 28px;
    line-height: 105%;
    margin-top: 14px;
    margin-bottom: 7px;
    font-weight: bold;
  }
  h5 {
    font-family: serif;
    font-size: 21px;
    line-height: 105%;
    margin-top: 10.5px;
    margin-bottom: 5.25px;
    font-weight: bold;
  }
  h6 {
    font-family: serif;
    font-size: 14px;
    line-height: 105%;
    margin-top: 7px;
    margin-bottom: 3.5px;
    font-weight: bold;
  }
  p {
    font-family: serif;
    font-size: 14px;
    line-height: 140%;
    margin: 14px 0;
  }
  abbr,
  acronym {
    border-bottom: 1px dotted;
    cursor: help;
  }
  address {
    font-family: serif;
    font-size: 14px;
    font-style: italic;
  }
  blockquote {
    margin: 14px 0;
    padding: 0 0 0 28px;
  }
  cite {
    font-style: italic;
  }
  code {
    font-size: 14px;
  }
  em,
  i {
    font-style: italic;
  }
  strong,
  b {
    font-weight: bold;
  }
  ul,
  ol {
    margin: 14px 0;
    padding: 0 0 0 28px;
  }
  ul li,
  ol li {
    font-family: serif;
    font-size: 14px;
    line-height: 140%;
    list-style-position: inside;
  }
  input,
  button {
    font-family: serif;
    font-size: 14px;
  }
  table {
    font-family: serif;
    font-size: 14px;
    width: 100%;
    margin: 14px 0;
  }
  table th,
  table td {
    padding: 3.5px 7px 3.5px 0;
  }
}
