@media (min-width: 768px) and (max-width: 959px) {
  body {
    width: 384px;
    margin: 0 auto;
  }
  article {
    float: left;
    margin: 0 7.5px 0 7.5px;
    width: 369px;
    padding-left: 0px;
    padding-right: 0px;
  }
  article img {
    max-width: 100%;
  }
  .span1 {
    float: left;
    margin: 0 7.5px 0 7.5px;
    width: 49px;
    padding-left: 0px;
    padding-right: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  .span1 img {
    max-width: 100%;
  }
  .span2 {
    float: left;
    margin: 0 7.5px 0 7.5px;
    width: 113px;
    padding-left: 0px;
    padding-right: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  .span2 img {
    max-width: 100%;
  }
  .span7 {
    float: left;
    margin: 0 7.5px 0 7.5px;
    width: 369px;
    padding-left: 0px;
    padding-right: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  .span7 img {
    max-width: 100%;
  }
  .span12 {
    float: left;
    margin: 0 7.5px 0 7.5px;
    width: 369px;
    padding-left: 0px;
    padding-right: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  .span12 img {
    max-width: 100%;
  }
}
