// *********************************
// _FUNCTIONS.LESS
// *********************************

//
// Function mixins, controls the grid.
//

.container() {
	width: @columnWidth * @columnCount + @gutterWidth * @columnCount;
}

.column(@columns: 1, @offset: 0, @padding: 0) when (@columnCount >= (@columns+@offset)) {
  	@consideredColumns: (@columnCount * @columns) / @columnCount;
	
	.newColumn();
}

.column(@columns: 1, @offset: 0, @padding: 0) when (@columnCount < (@columns+@offset)) {
  	@consideredColumns: (@columnCount * @columns) / @columns;
  	@offset: 0;

	.newColumn();	
}

.newColumn() {
	@offsetWidth: @columnWidth * @offset + @gutterWidth * @offset;
	@width: (@columnWidth * @consideredColumns) + (@gutterWidth * (@consideredColumns - 1)) - ((@padding*@paddingRatio)*2);
	@unit: @columnWidth - @columnWidth;

	float: left;
  	margin: @gutterWidth/2;
  	margin: @offsetWidth+@gutterWidth/2;
	width: @width;
	padding-left: @unit + @padding*@paddingRatio;
	padding-right: @unit + @padding*@paddingRatio;

	// core supporting styles
	img { max-width:100%; }
}