// Device agnostic layout styles

body {
	.container();
	margin: 0 auto;
}

article {
  	.column(6);
}


.span1 {
	.column(1);
	background: rgba(0,0,0,.1);
}

.span3 {
	.column(3);
	background: rgba(0,0,0,.1);
}

.span7 {
	.column(7);
	background: rgba(0,0,0,.1);
}