@fontSize: 16px;
h1 { font-size: @fontSize * 4; line-height: @fontSize * 5; margin-top: @fontSize; }
h2 { font-size: @fontSize * 3; line-height: @fontSize * 4; margin-top: @fontSize; }
h3 { font-size: @fontSize * 2; line-height: @fontSize * 3; margin-top: @fontSize; }

p { font-size: @fontSize; line-height: @fontSize; }

.baseline { background: url(../baseline.jpg); background-size: 1px @fontSize; }