// *********************************
// BASE.LESS
// *********************************

//
// Master CSS file / Standard Desktops 960px - 1200px
//

@columnCount:   12;
@columnWidth:   60px;
@gutterWidth:   20px;
@paddingRatio: 1;

@import "_functions.less";
@import "_reset.less";

@import "_mixins.less";

@import "_type.less";
@import "_layout.less";

.carousel {
	img {
		.transition(opacity 0.5s linear);
	}
}