// *********************************
// BASE.LESS
// *********************************

//
// Master CSS file / Standard Desktops 960px - 1200px
//

// Grid Variables
@columnCount:   12;
@columnWidth:   60px;
@gutterWidth:   20px;
@paddingRatio:  1;

// Type Variables
@fontSize: 16px;
@lineHeight: 140%;

@import "_reset.less"; // basic css reset

@import "_functions.less"; // grid functions
@import "_mixins.less"; // shorthand & standard mixins

@import "_layout.less"; // site layouts
@import "_type.less"; // site typography

//
// Add site-specific LESS below
//
