//
// Responsive CSS File - Large Desktops ~1200px
// --------------------------------------------------



// Grid Variables
// -------------------

@containerWidth: 1200px;
@columnCount:    12;
@gutterRatio:    25%;
@paddingRatio:   100%;


// Type Variables
// -------------------

@fontSize: 18px;
@lineHeight: 140%;


// Base Styles
// -------------------

@import "_functions.less";	

@media (min-width: 1200px) {
	
	@import "_layout.less";
	@import "_type.less";


	// Custom Styles
	// -------------------
	

}
