// *********************************
// DESKTOP.LESS
// *********************************

//
// Large Desktops > 1200px browsing width
//

@import "_functions.less";	

//Grid Variables
@columnCount:   12;
@columnWidth:   70px;
@gutterWidth:   30px;
@paddingRatio:  1.25;

//Type Variables
@fontSize: 18px;
@lineHeight: 140%;

@media (min-width: 1200px) {
	
	@import "_layout.less";
	@import "_type.less";	

}
