// *********************************
// TABLET.LESS
// *********************************

//
// Tablet Devices < 960px browsing width
//

@import "_functions.less";	

// Grid Variables
@columnCount:   12;
@columnWidth:   49px;
@gutterWidth:   15px;
@paddingRatio:  1;

// Type Variables
@fontSize: 14px;
@lineHeight: 140%;

@media (min-width: 768px) and (max-width: 959px) {
	
	@import "_layout.less";
	@import "_type.less";

}
