<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
			<meta charset="utf-8">

			<title>Components | Base</title>
			<meta name="description" content="">
			<meta name="viewport" content="width=device-width, initial-scale=1">

			<link rel="shortcut icon" href="../favicon.png" type="image/png">

			<link rel="stylesheet" href="../dist/css/site.css">
	</head>

	<body>
		<div class="container">

			<header>
				<h1>Component List</h1>
				<hr>
			</header>

			<section class="main">
				
				<article>
					
					<div class="grid-reference">

						<ul>
							<li><a href="nav.html">Navigation Component</a></li>
							<li><a href="sticky.html">Sticky Component</a></li>
							<li><a href="location-search.html">Location Search Component</a></li>
							<li><a href="modal.html">Modal Component</a></li>
							<li><a href="toggle.html">Toggle Component</a></li>
						</ul>
						
						
					</div>

				</article>
			</section>

		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="dist/js/site.js"></script>
	</body>
</html>
