<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
			<meta charset="utf-8">

			<title>Base</title>
			<meta name="description" content="">
			<meta name="viewport" content="width=device-width, initial-scale=1">

			<link rel="shortcut icon" href="/favicon.png" type="image/png">

			<link rel="stylesheet" href="/dist/css/site.css">
	</head>

	<body>

		
		<nav class="header-nav">
			<div class="container">
				
				<div class="logo-wrapper">
					<a href="#" class="logo">Logo</a>	
				</div>
				
				<div class="menu-hamburger" aria-label="Toggle Navigation">
					  <div class="bar"></div>	
				</div>
				
				<div class="menu-wrapper">
					<ul class="menu-primary">
						<li class="menu-item"><a href="#">Menu Item</a>
							<ul class="sub-menu">
								<li id="menu-item-62" class="menu-item">
									<a href="#">Level 2</a>
								</li>
								<li id="menu-item-62" class="menu-item">
									<a href="#">Level 2</a>
								</li>
							</ul>
						</li>
						<li class="menu-item">
							<a href="#">Menu Item 2</a>
						</li>
						<li class="menu-item">
							<a href="#">Menu Item 3</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/dist/js/site.js"></script>
	</body>
</html>
