<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
			<meta charset="utf-8">

			<title>Sticky | Base</title>
			<meta name="description" content="">
			<meta name="viewport" content="width=device-width, initial-scale=1">

			<link rel="shortcut icon" href="/favicon.png" type="image/png">

			<link rel="stylesheet" href="/dist/css/site.css">


	</head>

	<body class="sticky-component-example">

		<header>
			<div class="container">
			<h1> The Sticky Component</h1>
			</div>
		</header>

		<section class="sticky-container">

			<div class="container">

				
				<article>

					<h1>Sticky Component</h1>
					<p>This is the sticky component. It sticks things to the top of your screen then removes them at the bottom of the content area.</p>
					<p><b>Here's how it works</b></p>

					<code>
						<pre>

&lt;section class="sticky-container"&gt;

  &lt;article&gt;

    this is the body content the the sticky element should stay next to.

  &lt;/article&gt;

						
  &lt;aside data-sticky="sticky-container"&gt;

    This is the content your want stuck to the top.	

  &lt;/aside&gt;

&lt;/section&gt;


						</pre>
					</code>


					<p>Fusce fermentum. Curabitur suscipit suscipit tellus. Sed magna purus, fermentum eu, tincidunt eu, varius ut, felis. Sed a libero. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi.</p>
					<p>Fusce a quam. Sed a libero. Fusce ac felis sit amet ligula pharetra condimentum. Quisque id mi. Vivamus elementum semper nisi.</p>
					<p>In ut quam vitae odio lacinia tincidunt. Nullam dictum felis eu pede mollis pretium. Sed hendrerit. Maecenas malesuada. Vestibulum ullamcorper mauris at ligula.</p>
					<p>Nunc nonummy metus. Aenean viverra rhoncus pede. Vivamus aliquet elit ac nisl. Proin faucibus arcu quis ante. Etiam vitae tortor.</p>
					<p>Phasellus tempus. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Nullam tincidunt adipiscing enim. Nunc interdum lacus sit amet orci. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>

					<p>Fusce fermentum. Curabitur suscipit suscipit tellus. Sed magna purus, fermentum eu, tincidunt eu, varius ut, felis. Sed a libero. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi.</p>
					<p>Fusce a quam. Sed a libero. Fusce ac felis sit amet ligula pharetra condimentum. Quisque id mi. Vivamus elementum semper nisi.</p>
					<p>In ut quam vitae odio lacinia tincidunt. Nullam dictum felis eu pede mollis pretium. Sed hendrerit. Maecenas malesuada. Vestibulum ullamcorper mauris at ligula.</p>
					<p>Nunc nonummy metus. Aenean viverra rhoncus pede. Vivamus aliquet elit ac nisl. Proin faucibus arcu quis ante. Etiam vitae tortor.</p>
					<p>Phasellus tempus. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Nullam tincidunt adipiscing enim. Nunc interdum lacus sit amet orci. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>


					<p>Fusce fermentum. Curabitur suscipit suscipit tellus. Sed magna purus, fermentum eu, tincidunt eu, varius ut, felis. Sed a libero. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi.</p>
					<p>Fusce a quam. Sed a libero. Fusce ac felis sit amet ligula pharetra condimentum. Quisque id mi. Vivamus elementum semper nisi.</p>
					<p>In ut quam vitae odio lacinia tincidunt. Nullam dictum felis eu pede mollis pretium. Sed hendrerit. Maecenas malesuada. Vestibulum ullamcorper mauris at ligula.</p>
					<p>Nunc nonummy metus. Aenean viverra rhoncus pede. Vivamus aliquet elit ac nisl. Proin faucibus arcu quis ante. Etiam vitae tortor.</p>
					<p>Phasellus tempus. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Nullam tincidunt adipiscing enim. Nunc interdum lacus sit amet orci. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>



					
				</article>

				<aside data-sticky="sticky-container">

					<h1>This is the stick component</h1>
					<p>We want this to follow the user down the page</p>
					<p>We want this to follow the user down the page</p>
					<p>We want this to follow the user down the page</p>
					
				</aside>

			</div>

		</section>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/dist/js/site.js"></script>
	</body>
</html>
