<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
			<meta charset="utf-8">

			<title>Toggle | Base</title>
			<meta name="description" content="">
			<meta name="viewport" content="width=device-width, initial-scale=1">

			<link rel="shortcut icon" href="/favicon.png" type="image/png">

			<link rel="stylesheet" href="/dist/css/site.css">
	</head>

	<body>

		<section>

			<div class="container">

				<h1>Toggle</h1>
				<p>A simple toggle event that adds the class "active" to a jquery selector. Use CSS to animate.</p>


				<a href="#" data-toggle=".show-hide-example" data-toggle-text="Close" class="button-primary">A Simple Show Hide</a>
				
				<div class="show-hide-example">

					<h3>Hello There</h3>
					<p>Place whatever content you want toggled in here.</p>

				</div>

			</div>

		</section>

		<hr>

		<section>

			<div class="container">

				
<code>
<pre>

/**
 * A simple example
 */

&lt;a href="#" data-toggle=".show-hide-example" data-toggle-text="Close" class="button-primary">A Simple Show Hide&lt;/a&gt;
				
&lt;div class="show-hide-example"&gt;

	Content hoes here...

&lt;/div&gt;

</pre>

</code>



			</div>

		</section>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/dist/js/site.js"></script>
	</body>
</html>
